.tablaPuntajes {
    margin-top: 30px;
    text-align: center;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .th, .td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .th {
    background-color: #007bff;
    color: white;
  }
  
  .td {
    background-color: #f9f9f9;
  }
  
  .h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  